<% include('/includes/_helper') _%>
<%
const page = {
    'metaTitle': 'TOP'
};
_%>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('/includes/_header', { page: page }) -%>
</head>
<body>
<h2>INDEX</h2>
<p>HELLO :)</p>
<a href="<%- helper.absoluteLink('/news/') %>">NEWS</a>
<img src="<%- helper.asset('/images/sample.png') %>" alt="" style="max-width: 100px;">
</body>
</html>
