<%_ include('/includes/_helper') _%>
<%_
const pageMeta = {
    'title': 'TOP',
    'description': 'THIS IS TOP PAGE'
};
_%>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('/includes/_header', { pageMeta: pageMeta }) -%>
</head>
<body>
<h2>INDEX</h2>
<p>HELLO :)</p>
<a href="news/">NEWS</a>
<img src="<%- helper.asset('images/sample.png') %>" alt="" style="max-width: 100px;">
</body>
</html>
